.title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $title-text-color;

    &--big {
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        text-transform: none;
}
    &--middle {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
}